[Unit]
Description=Changelog Watch Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=roman
WorkingDirectory=/mnt/c/Work/Telegram/changelog-watch-telegram-bot
EnvironmentFile=/mnt/c/Work/Telegram/changelog-watch-telegram-bot/.env
ExecStart=/mnt/c/Work/Telegram/changelog-watch-telegram-bot/.venv/bin/python /mnt/c/Work/Telegram/changelog-watch-telegram-bot/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
